{% load static %}

{% block home %}
     <!-- START HOME -->
    <section class="section bg-home half-home" id="home">
        <!-- <div class="bg-overlay"></div> -->
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">

                            <div id="carouselExampleIndicators" class="carousel slide text-center home-carousel" data-ride="carousel">
                                <ol class="carousel-indicators mb-0">
                                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <h1 class="text-white home-title mb-0"><span class="text-rotate">We love make things amazing and simple</span></h1>
                                        <p class="text-muted home-subtitle-center home-subtitle mt-4 mb-0 mx-auto">It is a long established fact that a reader will be of a page when established fact looking at its layout.</p>
                                        <div class="mt-4 mb-4">
                                            <a href="#" class="btn btn-outline-white btn-round">Read More</a>
                                        </div>
                                  </div>
                                  <div class="carousel-item">
                                    <h1 class="text-white home-title mb-0"><span class="text-rotate">Create amazing landing page with Globing</span></h1>
                                        <p class="text-muted home-subtitle-center home-subtitle mt-4 mb-0 mx-auto">It is a long established fact that a reader will be of a page when established fact looking at its layout.</p>
                                        <div class="mt-4 mb-4">
                                            <a href="#" class="btn btn-outline-white btn-round">Read More</a>
                                        </div>
                                  </div>
                                  <div class="carousel-item">
                                    <h1 class="text-white home-title mb-0"><span class="text-rotate">Perfact solution for small businesses</span></h1>
                                    <p class="text-muted home-subtitle-center home-subtitle mt-4 mb-0 mx-auto">It is a long established fact that a reader will be of a page when established fact looking at its layout.</p>
                                    <div class="mt-4 mb-4">
                                        <a href="#" class="btn btn-outline-white btn-round">Read More</a>
                                    </div>
                                  </div>
                                </div>
                              </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END HOME -->
{% endblock home %}