{% load static %}
<!doctype html>

<html lang="en" class="no-js">
<head>
	<title>Yohan Yi</title>

	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="Yohan Yi Portfolio" />
    <meta name="keywords" content="iOS, iOS Dev, iOS Development" />
    <meta content="Yohan Yi" name="author" />

	<link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i|Poppins:300,400,500,600,700" rel="stylesheet">
    
    {% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" media="screen">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" media="screen">
	<link rel="stylesheet" type="text/css" href="{% static 'css/elegant-icons.css' %}" media="screen">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="screen">
    {% endblock css %}

</head>
<body>
	<!-- Container -->
	<div id="container">
		<!-- Header
		    ================================================== -->
		<header class="clearfix trans">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="http://www.yohanyi.me">Yohan Yi<span>.</span></a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right navigate-section">
							<li class="drop"><a href="#home">Home</a></li>
							<li><a href="#works">My Works</a></li>
							<li><a href="#about">About Me</a></li>
							<li><a href="#insta">Follow me on Instagram</a></li>
							<li><a href="mailto: yohanyi@yohanyi.me">Contact</a></li>
							<li><a class="open-menu" href="#"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</header>
		<!-- End Header -->     

		<!-- banner-page-section 
			================================================== -->
		<section class="banner-page-section">
			<div class="container">
				<h1>👋 Hi, I'm Yohan<span>.</span></h1>
				<p>I'm a Software Engineer based in <u>Silicon Valley</u>, specializing in <u>iOS development</u>. 
					<br> My dedication lies in creating innovative and user-friendly applications. 
					<br> Browse through my portfolio to see how I bring ideas to life using clean, efficient code 
					and captivating user experiences. 
					<br> Let's work together and make something extraordinary! 
				</p>
			</div>
			<a name="works"></a>	
		</section>
		<!-- End banner-page-section -->

		<!-- about-us-section 
			================================================== -->
		<section class="about-us-section">
			<div class="container">
				<div class="about-us-box">
					<div class="row">
						<div class="col-md-4">
							<div class="about-us-post">
								<h1>🚀 My Works<span>.</span></h1>
								<div class="ag-format-container">
									<div class="ag-courses_box">
										{% for work in myworks %}
									  <div class="ag-courses_item">
										<a href="{{ work.link }}" target="_blank" class="ag-courses-item_link">
										  <div class="ag-courses-item_bg"></div>
										  <div class="ag-courses-item_title">
											{{ work.title }}
										  </div>
										  <br>
										  <div class="ag-courses-item_date-box">
											<span class="ag-courses-item_skills">
												{{ work.subtitle }}
											</span>
											<br>
											<p class="ag-courses-item_desc">
												{{ work.desciption }}
											</p>
										</div>
										</a>
									  </div>
									  {% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End about-us section -->



		<!-- team-section 
			================================================== -->
		<a name="about"></a>
		<section class="team-section">
			<div class="container">
				<div class="title-section white-style">
					<div class="row">
							<div class="col-md-5">
								<img src="{% static 'images/main_img.png' %}" alt="">
							</div>
							<div class="col-md-7">
								<h1>🫰 About Me<span>.</span></h1>
								<p>Hey there! I'm an iOS Developer with a knack for whipping up fantastic apps that people just can't resist. 
									I've dabbled in everything from <u>Big Tech</u> to quirky <u>Startups</u>, and I've got a serious crush on Swift and Objective-C. 
									I'm your go-to developer for all things iOS. So, buckle up and get ready for a wild ride through my world of mobile magic!</p>
								<br><a class="button-one" href="https://www.linkedin.com/in/yohanhyunsungyi/" target="_blank">LinkedIn</a>
							</div>

					</div>
					<div class="blog-newsfeed">
						<h2 style="margin-bottom: 0px; font-size: 25px;">📒 Check out my latest articles on Medium<span>.</span></h2>
						<div id="retainable-rss-embed" 
						data-rss="https://medium.com/feed/@YOHANYI"
						data-maxcols="3" 
						data-layout="grid" 
						data-poststyle="external" 
						data-readmore="" 
						data-buttonclass="btn btn-primary" 
						data-offset="0"></div>
					</div>
				</div>
			</div>
		</section>
		<!-- End team section -->
		
		<!-- clients-section 
			================================================== -->
		<a name="insta"></a>
		<section class="clients-section">
			<div class="container">
				<div class="title-section">
					<div class="row">
						<h1>📷 Follow me on Instagram<span>.</span></h1>
						<div class="clients-box">
							<script type="text/javascript" src="https://www.juicer.io/embed/yohanhyunsungyi/embed-code.js" async defer></script>
						</div>
					</div>
				</div>
				<!-- <div class="clients-box">
					<ul class="client-list">
						<li><a href="#"><img src="{% static 'images/clients/1.png' %}" alt=""></a></li>
						<li><a href="#"><img src="{% static 'images/clients/2.png' %}" alt=""></a></li>
						<li><a href="#"><img src="{% static 'images/clients/3.png' %}" alt=""></a></li>
						<li><a href="#"><img src="{% static 'images/clients/4.png' %}" alt=""></a></li>
						<li><a href="#"><img src="{% static 'images/clients/5.png' %}" alt=""></a></li>
						<li><a href="#"><img src="{% static 'images/clients/6.png' %}" alt=""></a></li>
						<li><a href="#"><img src="{% static 'images/clients/1.png' %}" alt=""></a></li>
						<li><a href="#"><img src="{% static 'images/clients/2.png' %}" alt=""></a></li>
					</ul>
				</div> -->
			</div>
		</section>
		<!-- End clients section -->

		<!-- footer 
			================================================== -->
		<footer>
			<div class="up-footer">
				<div class="container">
						<ul class="social-icons">
							<!-- <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li> -->
							<!-- <li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li> -->
							<li><a class="linkedin" href="https://www.linkedin.com/in/yohanhyunsungyi/"><i class="fa fa-linkedin"></i></a></li>
							<li><a class="Instagram" href="https://www.instagram.com/yohanhyunsungyi/"><i class="fa fa-instagram"></i></a></li>
							<li><a class="Medium" href="https://medium.com/feed/@YOHANYI"><i class="fa fa-medium"></i></a></li>
							<li><a class="facebook" href="https://www.facebook.com/hyunsung.yi"><i class="fa fa-facebook"></i></a></li>
							<!-- <li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li> -->
						</ul>
				</div>
				<p class="copyright">
					Copyright © 2023 Yohan Yi. All rights reserved.
				</p>
			</div>


		</footer>
		<!-- End footer -->

	</div>
	<!-- End Container -->

	{% block javascript %}
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/jquery.migrate.js' %}"></script>
	<script src="{% static 'js/jquery.appear.js' %}"></script>
	<script src="{% static 'js/jquery.countTo.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.imagesloaded.min.js' %}"></script>
  	<script src="{% static 'js/jquery.isotope.min.js' %}"></script>
	<script src="{% static 'js/retina-1.1.0.min.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>
	<script src="{% static 'js/mediumPost.js' %}"></script>
    {% endblock javascript %}
</body>
</html>